﻿@model IEnumerable<family.customer>

@{
    ViewBag.Title = "SortByEmployeeCode";
}

<h2>SortByEmployeeCode</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show All", "index")
    @Html.ActionLink("Sort By FirstName", "SortByFirstName")
    @Html.ActionLink("Sort By EmployeeCode", "SortByEmployeeCode")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.customerCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.customerCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.customerCode })
        </td>
    </tr>
}

</table>
