﻿@model IEnumerable<family.payment>

@{
    ViewBag.Title = "ShowSince6MonthAgo";
}

<h2>ShowSince6MonthAgo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show All", "index")
    @Html.ActionLink("Show Since 6 Month ago", "ShowSince6MonthAgo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.paymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.checkCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.checkCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.checkCode })
        </td>
    </tr>
}

</table>
