﻿@model family.orderdetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>orderdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.priceEach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceEach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantityOrdered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantityOrdered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderDCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
