﻿@model IEnumerable<family.orderdetail>

@{
    ViewBag.Title = "ShowByPriceEach";
}

<h2>ShowByPriceEach</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show All", "index")
    @Html.ActionLink("Show By PriceEach", "ShowByPriceEach")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.priceEach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantityOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.priceEach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantityOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderDCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderDCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderDCode })
        </td>
    </tr>
}

</table>
