﻿@model IEnumerable<family.product>

@{
    ViewBag.Title = "productCode";
}

<h2>productCode</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show All New", "index")
    @Html.ActionLink("Sort By Name", "productName")
    @Html.ActionLink("Sort By Code", "productCode")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantityLnStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantityLnStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.productCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productCode })
        </td>
    </tr>
}

</table>
