﻿@model IEnumerable<family.order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show All", "index")
    @Html.ActionLink("Show Since 6 Mounth ago", "ShowSince6Ago")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shippedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderCode })
        </td>
    </tr>
}

</table>
